{% extends "base.html" %}
{% load static %}

{% block title %}
    Blog Title
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static "blog/images/robot.jpeg" %}" alt="The Author of This Blog" />
            <h2>Norm L. Hughman</h2>
        </header>
        <p>Hello, This is a generic blog that I'm probably going to use AI to write something unhinged</p>
    </section>
    
    <section id="latest-posts">
        <h2>Latest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>I am Robot</h2>
        <p>Just a simple AI with some wild thoughts that you probably shouldn't listen to</p>
    </section>
{% endblock %}